nav{
    background-color: rgb(14, 20, 22);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    height: 200vh;
}

/* .produto-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
@media screen and (max-whidth: 768px){
    .produto-container{
        width: 100%;
        flex-direction: column;
    }
} */
    

#btn-exp{
opacity: 1;
bottom: 10px;
top: 0;

}
nav.menulateral{
    
    width: 70px;
    height: 10%;
    background-color: transparent;
    padding: 30px  0  40px 1%;
    right: 1%;
    box-shadow: 3px 1px 0 #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;

    
    
    
}
nav.menulateral:hover{
background-color: #000000;
opacity: 1;
box-shadow: 3px 1px 0 #ff0000;
}
nav.menulateral.expandir{
width: 250px;
opacity: ;
height: 100%;
padding: 40px  0  40px 1%;
}

.expandir{
    width: 100%;
    padding-left: 10px;
}
.expandir >i {
    color: rgb(0, 0, 0);
    font-size: 35px;
    cursor: pointer;
    opacity: 1;
}
.expandir >i:hover{
    color: white; outline-color: aliceblue;
}

ul{
    height: 100%;
    list-style-type: none;

}
ul li.menu{
    transition: .2s;
}


ul li.ativo{
    background-color: rgb(34, 126, 212);
}

ul li.item-menu:HOVER{
    background-color: rgb(34, 126, 212);

}

ul li.item-menu a{
    
    line-height: 40px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 40px 2%;
    display: flex;
    text-decoration: none;
    margin-bottom: 20px;

}






ul li.item-menu a .icon > i{
    font-size: 30px;
    padding-left: 15px;

}
ul li.item-menu a .txt-link {
    margin-left: 30px;
    
}

div .rps{
    text-decoration: none;
    list-style-type: none; 
}
/* COM BORDA 
.camiseta{
    display: flex;
    position: absolute;
    left: 20%;
    z-index: 1000%;
    border: #000000;
    border-style: solid;
    border-width: 10px;
    mix-blend-mode: multiply;
    margin-left: 200px;
    margin-right: 300px;
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 0% 0% 60px;

}
*/
.camiseta{
    display: flex;
    position: absolute;
    left: 20%;
    z-index: 1000%;
    border: #b1aaaa;
    border-radius: 1px;
    border-left-width: 10px;
    border-right-width: 10px;

    border-style: solid;
    border-bottom-width: 110px;
    mix-blend-mode: multiply;
    margin-left: 200px;
    margin-right: 300px;
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 0% 0% 0px;

}

#camisanike{
}


#tituloo{
    font-size: 45px;
    padding-left: 0%;
    margin: 20px;
    padding: 10px 5px 10px 0px;
    padding-top: 50px;
    margin-left: 600px;
    margin-right: 600px;
    text-align: center;
    background-color: transparent;
    -webkit-text-stroke-color: rgb(54, 3, 3);
    -webkit-text-stroke-width: 1px ;
    font-weight: bold;
}
#titulo2{
    font-size: 17px;
    left: 40%;
    position: absolute;
    background-color: yellow;
    padding: 8px 8px 8px 8px;
}

.login{
    font-size: 30px;
    position: absolute;
    left: 92%;
    padding-top: 3.1rem;
    cursor: pointer;
}

.carro{
    font-size: 30px;
    position: absolute;
    left: 95%;
    padding-top: 50px;
    cursor: pointer;
}
.log{
    font-size: 1.2rem;
position: absolute;
display: flex;
    left: 105.5rem;
    padding-top: 3.6rem;
    cursor: pointer;
}


#bot{
    
    padding-left: 10px;
    padding-right: 10px;
    margin: 0%;
    margin-right: 1000px;
    margin-left: 580px;
    margin-right: 1000px;
    border-width: 50px;
    border-radius: 5px;
    background-color: rgb(14, 102, 124);
    font-size: 25px;
    left: 0px;
    top: 545px;
    display: flex;
    cursor: pointer;
    position: relative;
    
}
#bott{
    padding-left: 10px;
    padding-right: 10px;
    margin: 0%;
    margin-right: 1000px;
    margin-left: 580px;
    margin-right: 1600px;
    border-radius: 5px;
    font-size: 25px;
    left: 0px;
    top: 495px;
    display: flex;
    position: relative;
}

.camisasss{

justify-content: space-between;


padding-left: 10px;
padding-right: 10px;
margin:10px;
margin-right: 300px;
margin-left: 300px;
padding: 10px 20px 20px 20px;
    left: 2px;
    top: 5px;
    display: flex;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.5s ease;
}


.ca{
    transition:transform 0.5s ease;
}

.ca:hover{
transition:transform 0.5s ease;
    transform: scale(1.1);
}

.calcas{
    justify-content: space-around;

    padding-left: 10px;
    padding-right: 10px;
    margin:10px;
    margin-right: 500px;
    margin-left: 500px;
    padding: 10px 20px 20px 20px;
        left: 2px;
        top: 395px;
        display: flex;
        position: relative;
        background-color: transparent;

}

#tituloca{
    font-size: 30px;
    padding-left: 0%;
    margin: 0px;
    padding: 10px 5px 10px 0px;
    padding-top: 150px;
    margin-left: 600px;
    margin-right: 600px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.5px ;
    font-family: 'Times New Roman', Times, serif;
}

#adicionar{
    padding-left: 10px;
    padding-right: 10px;
    margin:10px;
    margin-right: 300px;
    margin-left: 50px;
    padding: 17px 40px 17px 40px;
    left: 0px;
    top: 370px;
    display: flex;
    position: absolute;
    background-color: #2181ff;
    border-radius: 60px;
    cursor: pointer;
    transition: 0.2s;
}

#adicionar2{
    font-size: 25px;
    padding-left: 25px;
    padding-right: 25px;
    margin:10px;
    margin-right: 300px;
    margin-left: 50px;
    padding: 17px 40px 17px 40px;
        left: 36%;
        top: 370px;
        display: flex;
        position: absolute;
        background-color: #2181ff;
        border-radius: 60px;
        cursor: pointer;
        transition: 0.2s;
    }

    #adicionar3{
        padding-left: 10px;
        padding-right: 10px;
        margin:10px;
        margin-right: 300px;
        margin-left: 50px;
        padding: 17px 40px 17px 40px;
            left: 73%;
            top: 370px;
            display: flex;
            position: absolute;
            background-color: #2181ff;
            border-radius: 60px;
            cursor: pointer;
            transition: 0.2s;
    }
    
    #adicionar3:hover{
        transform: scale(1.01);
      }
      #adicionar2:hover{
        transform: scale(1.01);
        
    }
    #adicionar:hover{
        transform: scale(1.01);
        
    }




    /* Nomes Das camisetas MP */
#camiseta{
    font-size:18px ;
    padding-left: 10px;
padding-right: 10px;
margin:10px;
margin-right: 300px;
margin-left: 200px;
padding: 10px 20px 20px 20px;
    left: 100px;
    top: 141%;
    display: flex;
    position: absolute;
    background-color: transparent;
    font-weight: 500;
    font-style: normal
    color: #111;
    font-family:Arial, Helvetica, sans-serif;
}

#camiseta2{
    font-size:18px ;
    padding-left: 10px;
padding-right: 10px;
margin:10px;
margin-right: 300px;
margin-left: 200px;
padding: 10px 20px 20px 20px;

    left: 565px;
    top: 141%;
    display: flex;
    position: absolute;
    background-color: transparent;

    color: #111;
    font-family:Arial, Helvetica, sans-serif;
}

#camiseta3{
    font-size:18px ;
    padding-left: 10px;
padding-right: 10px;
margin:10px;
margin-right: 300px;
margin-left: 200px;
padding: 10px 20px 20px 20px;
    left: 54%;
    top: 142%;
    display: flex;
    position: absolute;
    background-color: transparent;

    color: #111;
    font-family:Arial, Helvetica, sans-serif;
}


/* Preço das camisetas MP */
#preco{
    font-size:19px ;
    padding-left: 10px;
padding-right: 10px;
margin:10px;
margin-right: 300px;
margin-left: 200px;
padding: 10px 20px 20px 20px;
    left: 100px;
    top: 144%;
    display: flex;
    position: absolute;
    background-color: transparent;
    border-radius: 10px;
    color: #111;
    
    font-family:Arial, Helvetica, sans-serif;
}

#preco2{
    font-size:19px ;
    padding-left: 10px;
padding-right: 10px;
margin:10px;
margin-right: 300px;
margin-left: 200px;
padding: 10px 20px 20px 20px;
    left: 54%;
    top: 145%;
    display: flex;
    position: absolute;
    background-color: transparent;
    border-radius: 10px;
    color: #111;
    font-family:Arial, Helvetica, sans-serif;
}

#preco3{
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    font-size:19px ;
margin:10px;
margin-right: 300px;
margin-left: 200px;
padding: 1.1rem 1.1rem 1.1rem 1.1rem;
    left: 565px;
    top: 144%;
    display: flex;
    position: absolute;
    background-color: transparent;
    border-radius: 10px;
    color: #111;
    font-family:Arial, Helvetica, sans-serif;
}

#ver{
    font-size: 20px;
top: 168%;
left: 47%;
display: flex;
position: absolute;
cursor: pointer;
background-color: #00a2ff;
padding: 20px 20px 20px 20px;
}
#ver:hover{
    background-color: #0092e7;
}

.master{
    padding-top: 34%;
}

/*imagens embaixo do titulo impacto multimarcas*/
.img1{
    left: 9%;
    top:30% ;
    width: 30%;
    background-color: #000000;
    position: absolute;
    display: flex;  
    border-style: outset    ;   
    border-color: #fafafa;
    border-width: 0.1px;
    transition: 0.5s;
}

.img1:hover{
    transform: scale(1.03);
}
.img2{
    left: 40%;
    top: 30%;
    width: 30%;
    background-color: #000000;
    display: flex;
    position: absolute;
    border-style: outset  ;   
    border-color: #fafafa;
    border-width: 0.1px;   
    transition: .5s;
}
.img2:hover{
    transform: scale(1.03);
}
.img3{
    left: 71%;
    top: 30%;
    width: 392px;
    background-color: #000000;
    display: flex;
    position: absolute;
    border-style: outset    ;   
    border-color: #fafafa;
    border-width: 0.1px;  
    transition: .5s;
}
.img3:hover{
    transform: scale(1.03);
}



/* Calças */





 /*  
  .side-bar .menu .item i{
    margin-right: 15px;
  }
  
  .side-bar .menu .item a .dropdown{
  
    position: absolute;
    right:0;
    margin: 20px;
    transition: 0.3s ease;
  }
  
  .side-bar .menu .item .sub-menu{
    background: rgba(255,255,255 , 0.1);
    display:none;
  }
  
  .side-bar .menu .item .sub-menu a{
    padding-left: 80px;
  }
  
  .rotate{
    transform: rotate(90deg);
  }
  
  .close-btn{
    position: absolute;
    color: #fff;
    font-size: 20px;
    right: 0;
    margin: 25px;
    cursor: pointer;
  }
  
  
  .menu-btn{
    position: absolute;
    color: #fff;
    font-size: 20px;
    margin: 25px;
    cursor:pointer;
  } */